<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">BookHeaven</h2>
                <p class="text-light">Chào mừng đến với BookHeaven, nơi những giấc mơ văn học trở thành hiện thực. 
                    Hòa mình vào một thế giới truyện đầy cuốn hút, khám phá các thể loại đa dạng và khám phá cuộc phiêu lưu tuyệt 
                    vời tiếp theo của bạn. Hãy để những trang sách đưa bạn đến một thế giới của sự tưởng tượng và tri thức. 
                    Bắt đầu cuộc hành trình của bạn cùng chúng tôi ngay hôm nay</p>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Hỗ trợ khách hàng</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Đường số 10, KDC Hưng Thịnh, quận Cái Răng, TP.Cần Thơ
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:091.276.2750">091.276.2750</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none"
                            href="mailto:nguyenpro2486@gmail.com">nguyenpro2486@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Thêm thông tin</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/">Trang chủ</a></li>
                    <li><a class="text-decoration-none" href="/gioithieu">Giới thiệu về chúng tôi</a></li>
                    <li><a class="text-decoration-none" href="/shop">Cửa hàng</a></li>
                    <li><a class="text-decoration-none" href="/contact">Liên hệ</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Nhập địa chỉ Email</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                        placeholder="Nhập địa chỉ Email">
                    <div class="input-group-text btn-success text-light">Đăng ký</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; BookHeaven
                        | Designed by <a rel="sponsored" href="" target="_blank">Nguyenlnc</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>