<main>
   
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/book5.png" style="width: 60%; margin-left: 300px; "  alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Book</b>Heaven</h1>
                                <h3 class="h2">Khám phá biển sách vô tận tại Book Heaven </h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-color: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/book3.png" style="width: 60%; margin-left: 300px;" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Book</b>Heaven</h1>
                                <h3 class="h2">Khám phá biển sách vô tận tại Book Heaven</h3>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-color: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid"src="/img/book1.png" style="width: 60%; margin-left: 300px;" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center" >
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Book</b>Heaven</h1>
                                <h3 class="h2">Khám phá biển sách vô tận tại Book Heaven</h3>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    
    
    
    
  
    
    
    
    
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Truyện nổi bật - bán chạy trong tháng</h1>
                    <p>
                       Dưới đây là top truyện được bán chạy nhất tháng
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="/img/book3.png" style="width: 400px; height: 600px; padding-top: 40px;" class="card-img-top " alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">19.000  vnđ</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Dragon Ball Super</a>
                            <p class="card-text">
                                7 viên ngọc rồng là một bộ truyện manga/anime kinh điển về 
                                cuộc phiêu lưu của Goku và nhóm bạn trong việc tìm kiếm 7 viên ngọc rồng để thực hiện điều ước.
                            </p>
                            <p class="text-muted">Reviews (12)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-60">
                        <a href="shop-single.html">
                            <img src="/img/book4.png" class="card-img-topc" style="width: 400px; height: 625px; padding-top: 40px;">
    
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">20.000  vnđ</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Conan - Thám tử lừng danh</a>
                            <p class="card-text">
                                "Conan" là một bộ truyện tranh (manga) và anime rất phổ biến của Nhật Bản. 
                                Câu chuyện kể về Shinichi Kudo, một thám tử học sinh cấp ba, người bị thu nhỏ thành một cậu bé nhỏ sau khi bị đánh bại và truyền thuốc độc. 
                                Dưới tên Conan Edogawa, Shinichi tiếp tục giải quyết các vụ án bí ẩn và tìm cách trở lại hình dạng ban đầu
                            </p>
                            <p class="text-muted">Reviews (37)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="/img/book1.png" style="width: 400px; height: 600px; padding-top: 40px;" class="card-img-top h-100" alt="...">
    
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">17.000  vnđ</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Doraemon</a>
                            <p class="card-text">
                                Doraemon - Câu chuyện xoay quanh cuộc sống của Nobita Nobi, một cậu bé hậu đậu và không tự tin, và Doraemon, một chú mèo robot đến từ tương lai.
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

